
#slideSource {
  opacity: 1;
  transition: opacity 1s;
}

#slideSource.fade {
  opacity: 0;
}

.car-div {
  position:fixed;
   top:0;
    left:0;
    right: 0;
    bottom:0;
     height:100%;
      width:140%;
       background-color:#fff;
       z-index: 500000000000000000000;
        display: block;
  .car-container {
      padding:0;
      border:0;
      width:150px;
      height:150px;
      position: relative;
      left:38%;
      bottom:-40%;
      .title-wrapper {
                position: relative;
                height:40%;
                top:-60%;
                width:2000%;
                z-index: 20000;
                padding: 0;
                margin: 0;
                border: 0;

        h1 {
        font-family: 'Oswald', sans-serif;
        color: $orange;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 60px;
        position: relative;
        right:100px;
      }
    }

    .car-wrapper {
        width:100%;
        height:100%;
        padding:0;
        border:0;
        margin:0;
        position: relative;
        right:100%;
      .car-body {
        width:80%;
        height:80%;
        border-radius: 10%;
        background-color: $orange;
                      .car-back {
                        padding:0;
                        border:0;
                        margin:0;
                        height:20%;
                        width:20%;
                        background-color: $orange;
                        position: relative;
                        bottom:-80%;
                        left:-15%;
                        border-radius: 100%;
                      }
                      .car-back-1 {
                        padding:0;
                        border:0;
                        margin:0;
                        height:20%;
                        width:15%;
                        background-color: $orange;
                        position: relative;
                        bottom:-60%;
                        left:-5%;

                      }
                      .car-back-2 {
                        padding:0;
                        border:0;
                        margin:0;
                        height:20%;
                        width:20%;
                        background-color: $orange;
                        position: relative;
                        bottom:-40%;
                        left:-5%;

            }
      }
      .car-body-2 {
        position: absolute;
        top: 0;
        right:-20%;
        width:80%;
        height:80%;
        border-radius: 10%;
        background-color: $orange;
      }

      .car-wheel-1 {
        z-index: 50;
        height:30%;
        width:30%;
        position: absolute;
        bottom: 8%;
        left:27.5%;

        border-radius: 100%;
background: $orange;
       transition-property: transform;
      transition-duration: 1s;
      -webkit-animation:spin 1.5s linear infinite;
      -moz-animation:spin 1.5s linear infinite;
      animation:spin 1.5s linear infinite;
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
          .wheel-line-1 {
            width:17%;
            height:100%;
            background-color: $orange;
            position: relative;
            left:42.5%;

          }
          .wheel-line-2 {
            width:100%;
            height:17%;
            background-color: $orange;
            position: relative;
            bottom:58.5%;
          }
          .wheel-hole {
            margin: 0;
            padding: 0;
            border: 0;
            background: #fff;
            height:60%;
            width:60%;
            border-radius: 100%;
            position: absolute;
            top:20%;
            right:20%;
          }
      }
      .car-wheel-2 {
        z-index: 50;
        height:30%;
        width:30%;
        position: absolute;
        bottom: 8%;
        left:140.66%;

        border-radius: 100%;
        background: $orange;
        transition-property: transform;
        transition-duration: 1s;
        -webkit-animation:spin 1.5s linear infinite;
        -moz-animation:spin 1.5s linear infinite;
        animation:spin 1.5s linear infinite;
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
          .wheel-line-1 {
            width:17%;
            height:100%;
            background-color: $orange;
            position: relative;
            left:42.5%;

          }
          .wheel-line-2 {
            width:100%;
            height:17%;
            background-color: $orange;
            position: relative;
            bottom:58.5%;
          }
          .wheel-hole {
            margin: 0;
            padding: 0;
            border: 0;
            background: #fff;
            height:60%;
            width:60%;
            border-radius: 100%;
            position: absolute;
            top:20%;
            right:20%;
          }
      }


      .wheel-space-1 {
        z-index: 10;
        height: 35%;
        width:35%;
        background-color: #fff;
        position: absolute;
        bottom: 5%;
        border-radius: 100%;
        left:25%;
      }

      .wheel-space-2 {
        z-index: 10;
        height: 35%;
        width:35%;
        background-color: #fff;
        position: absolute;
        bottom: 5%;
        border-radius: 100%;
        left:137.7%;
      }

      .car-head {
        height:60%;
        width:60%;
        background-color: $orange;
        position: absolute;
        bottom:20%;
        right:-85%;
        border-radius: 10%;

      }
      .car-head-space {
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);
        height:60%;
        width:60%;
        background-color: #fff;
        position: absolute;
        bottom:60%;
        right:-120%;

      }
    }
    .car-dirt {
      height:10%;
      width:100%;
      background-color: transparent;
      border-top: 10px solid #d3d3d3;

      position: absolute;
      bottom:0;
      right:100%;
      z-index: 100;
    }
    .car-dirt-2 {
      height:10%;
      width:100%;
      background-color: transparent;
      border-top: 10px solid #d3d3d3;

      position: absolute;
      bottom:0%;
      left:0%;
      z-index: 100;
    }

    .car-text {
      z-index: 50;
      position: absolute;
      left:10%;
      color: #fff;
      font-family: $Anton;
      text-transform: uppercase;
      font-weight: 700;

      height:100%;
      width:100%;
          h2 {
            position: absolute;
            left:15%;
            top:-6%;
            font-size: 160%;

          }

          h3 {
            position: absolute;
            left:58.5%;
            top:-6%;
            font-size: 160%;
          }
          h1 {
            position: absolute;
            bottom:30%;
            left:15%;
            font-size: 170%;
            letter-spacing: 0.1em;
          }
    }
  }
}

@media only screen and (max-width: 1320px) {
  .car-div {

    .car-container {

      .title-wrapper {


    }
    }
  }
}

@media only screen and (max-width: 975px) {
  .car-div {

    .car-container {

      .title-wrapper {
                position: absolute;
                left:0%;
                height:40%;
                top:-60%;
                width:2000%;
                z-index: 20000;
                padding: 0;
                margin: 0;
                border: 0;

    }
    }
  }

}

@media only screen and (max-width: 610px) {
  .car-div {
    .car-container {
      padding:0;
      border:0;
      width:150px;
      height:150px;
      position: relative;
      left:38%;
      bottom:-40%;

      .title-wrapper {
                position: absolute;
                left:-20%;
                height:40%;
                top:-60%;
                width:2000%;
                z-index: 20000;
                padding: 0;
                margin: 0;
                border: 0;

    }
    }
  }
}

@media only screen and (max-width: 460px) {
  .car-div {
    .car-container {
      padding:0;
      border:0;
      width:150px;
      height:150px;
      position: relative;
      left:38%;
      bottom:-40%;

      .title-wrapper {
                position: absolute;
                left:-30%;
                height:40%;
                top:-60%;
                width:2000%;
                z-index: 20000;
                padding: 0;
                margin: 0;
                border: 0;

      h1 {
        font-size: 3.5em;
      }
    }
    }
  }
}
