#flash {
  position: fixed;
  padding: 20px 20px 30px 20px;
  bottom:20px;
  right:20px;
  z-index: 10;
  box-shadow: 10 10 10 10;
  font-family: 'Oswald', sans-serif;
    color: #D18337;
    background-color: #fff;
    border:0;
}
